

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;
    font-weight: 300;
    position: relative;
}
.media-store-body > .container {
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.media-item {
    border: rgba(0,0,0,.2) thin solid;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transform: all .3s;

}

.media-item:hover,.media-item:focus{
    box-shadow: 0px 15px 30px -10px rgba(0,0,0,.5);
}

.media-item.divider-left{
    width: 50%;
    background-color: #f2f2f2;
    border-top-right-radius: 28px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-top: 60px;
    margin-left: 0px;
}

.media-item.divider-right {
    width: 50%;
    background-color: #f2f2f2;
    border-top-left-radius: 28px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    margin-top: 60px;
    margin-right: 0px;
    float: right;
}

.small-divider {
    margin-top: 60px;
    background-color: #f2f2f2;
    border: rgba(0,0,0,.2) thin solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-radius: 5px;
}

.media-item.divider-right > span{
    text-align: end;
    width: 100%;
    display: inline-block;
}

.media-store-body div.row{
    clear: both;
}
.media-player {
    position: fixed;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,.8);
}

.speaker {
    width:48px;
    height:48px;
    float: left;
    background-color: #ffffff;
    background-image: url(http://www.stillonthehill.com/images/Play-grey.png);
}
.speaker.pause {
    background-image: url(http://www.iconhot.com/icon/png/addictive-flavour/48/button-red-pause.png);
}

img#jp_poster_0{
    display: block;
    max-width: 100%;
    height: auto;
}

.meta-info > ul{
    list-style: none;
    padding-left: 10px;
}

/* Carousel base class */
.carousel {
    height: 350px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 350px;
    background-color: #777;
    background-image: url('/img/congruent_outline.png');
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 350px;
}

.carousel-caption .media-item{
    box-shadow: 0px 15px 30px -10px rgba(0,0,0,.5);
}